In [1]:
#Data.csv is the source file

**Step 1: Importing the libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

**Step 2: Importing dataset**

In [3]:
df= pd.read_csv("/content/Data.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [4]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
df["Salary"]= df["Salary"].fillna(df["Salary"].median())

In [6]:
df["Age"]= df["Age"].fillna(df["Age"].median())

In [7]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [8]:
df["Purchased"].value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

**Step 4: Encoding categorical data**

In [9]:
from sklearn import preprocessing
label_encode=preprocessing.LabelEncoder()
#df["Country"]=label_encode.fit_transform(df["Country"])
df["Purchased"]=label_encode.fit_transform(df["Purchased"])

In [10]:
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  61000.0          1
5   France  35.0  58000.0          1
6    Spain  38.0  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [11]:
df['Country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [12]:
dummies1 = pd.get_dummies(df['Country'])

In [13]:
df= pd.concat([df,dummies1], axis="columns")

In [14]:
df= df.drop('Country', axis= "columns")

In [15]:
df

    Age   Salary  Purchased  France  Germany  Spain
0  44.0  72000.0          0       1        0      0
1  27.0  48000.0          1       0        0      1
2  30.0  54000.0          0       0        1      0
3  38.0  61000.0          0       0        0      1
4  40.0  61000.0          1       0        1      0
5  35.0  58000.0          1       1        0      0
6  38.0  52000.0          0       0        0      1
7  48.0  79000.0          1       1        0      0
8  50.0  83000.0          0       0        1      0
9  37.0  67000.0          1       1        0      0

**Step 6: Splitting the datasets into training sets and Test sets**

In [16]:
X= df.drop("Purchased", axis= "columns")
Y= df["Purchased"]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size= 0.2, random_state=10)

**Step 7: Feature Scaling**

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train= scaler.transform(X_train)
X_test= scaler.transform(X_test)